<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.crypto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/crypto_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/crypto_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".addInvestment.AddInvestmentActivity"
            android:label="@string/title_activity_investment"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widget.CryptoWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/crypto_widget_info" />
        </receiver>
        <receiver android:name=".widget.CryptoWidget_dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/crypto_widget_info_dark" />
        </receiver>

        <activity android:name=".ui.main.AddCoinActivity" />
        <activity
            android:name=".ui.main.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>